numpy
scipy
pandas
upstox-python-sdk
websockets
requests
pytest
pytest-asyncio
pytest-mock
aiohttp
pytz
protobuf
sqlalchemy
aiopg
asyncpg
cryptography
redis
hiredis
smartapi-python
pyotp
kiteconnect
dhanhq
